[submodule "Guides"]
	path = Guides
	url = https://github.com/aiegoo/django2.git
[submodule "Django2"]
	path = Django2
	url = http://github.com/aiegoo/djangoblog.git
[submodule "Try-Django-1.8"]
	path = Try-Django-1.8
	url = https://github.com/codingforentrepreneurs/Try-Django-1.8.git
